{%extends 'all-news/base.html'%}
{% load static %}
{% load bootstrap5 %}
{% block content %}
    {{ block.super}}

    <div class="container">

        <!-- Looping through news   -->
        {% for news_item in news %}

            <div class="row">
                <!-- displaying News articles -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a href="{% url 'article' news_item.id %}"> <h2 class="text-center"> {{ news_item.title }} </h2></a>
                </div>
            </div>
            <!--Display news Article images  -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image">
            </div>

        {% empty %}
            <div class="row">
                <h2 class="text-center">There No News Items</h2>
            </div>
        {% endfor %}

    </div>
    <!-- Looping through news end   -->
    <div class="container-fluid col-md-12">

        <form  action="{%url 'newsToday'%}" method="post">
            {%csrf_token%}

            {% bootstrap_form letterForm layout='inline' %}
            <input type="submit" class ="btn btn-primary" value="Subscribe">
        </form>

    </div>

{% endblock %}
<!--End of the block content-->
{% block scripts %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'js/newsletter.js'%}"></script>
{% endblock %}