<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

    <div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
        <div class="flex-none px-2 mx-2">
       <a href="{% url 'newsToday' %}"><span class="text-lg font-bold">
                ZOO tribune
              </span>
       </a>
        </div>
        <div class="flex-1 px-2 mx-2">
            <div class="items-stretch hidden lg:flex">
                <a class="btn btn-ghost btn-sm rounded-btn" href="{% url 'newsToday' %}">
                    Home
                </a>

                <a class="btn btn-ghost btn-sm rounded-btn">
                    About
                </a>
                <a class="btn btn-ghost btn-sm rounded-btn">
                    Contact
                </a>
            </div>
        </div>
        <!-- Adding a search form  -->
        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Article" name="article">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>

            </form>
        </div>
        <!-- search form end -->
        <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
                <ul>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{%url 'newsToday'%}">Home</a>
                            </li>
                            <li>
                                <a href="/accounts/password/change">Change Password</a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <li>
                    <a class='btn btn-default' href="/accounts/login">Login</a>
                </li>

            {% endif %}
        </div>
    </div>
        <div class="flex-none">
            <button class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                </svg>
            </button>
        </div>
        <div class="flex-none">
            <button class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
            </button>
        </div>
    </div>

</body>
</html>